body {
    background-color: #3a0f1a;
    margin-left:20px;
}

h1 {
    color: #6a7ea0;
}

a {
    font-size: 25px;
    color: white;
}

#rectangle {
    width:200px;
    height:100px;
    background:blue;
}