<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ project_name }}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'ngnarrator/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ngnarrator/tree.css' %}">

    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
<h2>{{ project_name }}</h2>
{% if project_entries %}
<ul>
    {% for entry in project_entries %}
    <li><a href="/ngnarrator/{{ project_id }}/{{ entry.eid }}/">{{ entry.node.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No entries are available.</p>
{% endif %}
<form action="{% url 'create_entry' project_id %}" method="get">
    <div class="row">
        <div class="col-lg-2">
            <div class="input-group">
                <span class="input-group-btn">
                <input class="btn btn-danger" type="submit" value="Create">
                </span>
                <input class="form-control" type="text" name="target">
            </div>
        </div>
    </div>
</form>
</body>
</html>